		<footer id="footer">
			<div id="footer-content">
				<div id="copyright">&copy; <a href="https://hit.ua/site_view/93913" rel="nofollow" title="Статистика">{%SITENAME%} {?{%YEARSTART%}!={%NOW|YEAR%}?}{%YEARSTART%}-{%NOW|YEAR%}{?ELSE?}{%YEARSTART%}{?END?}</a></div>
				<div id="social">
					<span><a href="https://www.facebook.com/mrakobis/" rel="nofollow" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
					<span><a href="https://twitter.com/mrakobis" rel="nofollow" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
					<span><a href="https://vk.com/mrakobis_blog" rel="nofollow" title="vk"><i class="fa fa-vk" aria-hidden="true"></i></a></span>
					<span><a href="https://plus.google.com/communities/114102315300552341457" rel="nofollow" title="google plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></span>
					<span><a href="https://telegram.me/mrakobis" rel="nofollow" title="telegram"><i class="fa fa-telegram" aria-hidden="true"></i></a></span>
				</div>
				<div class="clear"></div>
			</div>
			{!STATISTIC!}
		</footer>
	</body>
</html>