	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="{%AUTHOR%}" />
	<meta property="generator" content="PewCMS">
	<meta name="description" content="{%META-DESCRIPTION%}">

	<meta property="og:url" content="{%CURRENTURL%}"/>
	<meta property="og:site_name" content="{%SITENAME%}"/>
	<meta property="og:image" content="{%META-IMAGE%}"/>
	<meta property="og:title" content="{%TITLE%}"/>
	<meta property="og:description" content="{%META-DESCRIPTION%}"/>
	<meta property="og:locale" content="{%LANGFULL%}"/>
	<meta property="og:type" content="article"/>
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="@mrakobis"/>
	<meta name="twitter:title" content="{%TITLE%}"/>
	<meta name="twitter:description" content="{%META-DESCRIPTION%}"/>
	<meta name="twitter:image" content="{%META-IMAGE%}"/>
	{!VERIFICATION!}